{% extends 'inventario/base.html' %}

{% block title %}
    Listado de productos
{% endblock  %}

{% block header%}
    <header>
        <h1>Listado de productos</h1>
    </header>
{% endblock %}

{% block main  %}
    <main>
        <section>
            <h2></h2>
            <p></p>
            <ul>
                <li>producto 1</li>
                <li>producto 2</li>
                <li>producto 3</li>
                <li>producto 4</li>
            </ul>
        </section>
    </main>
{% endblock  %}

{% block footer  %}
    <footer>
        <span></span>
    </footer>
{% endblock  %}